<div class="col-md-10 col-md-offset-1">
    <div class="row">
        <div class="col-sm-4 hidden-xs text-center">
            <div class="trophy trophy2">
                <i class="fa fa-trophy cup silver silver-text"></i>
                <i class="fa fa-star fa-inverse star"></i>
            </div>
            <h4>
                <%= scoresTop3[1].playerName %>
                <span class="label label-default silver"><%= scoresTop3[1].score %></span>
            </h4>
        </div>
        <div class="col-sm-4 hidden-xs text-center">
            <div class="trophy trophy1">
                <i class="fa fa-trophy cup gold gold-text"></i>
                <i class="fa fa-star fa-inverse star"></i>
            </div>
            <h4>
                <%= scoresTop3[0].playerName %>
                <span class="label label-default gold"><%= scoresTop3[0].score %></span>
            </h4>
        </div>
        <div class="col-sm-4 hidden-xs text-center">
            <div class="trophy trophy3">
                <i class="fa fa-trophy cup bronze bronze-text"></i>
                <i class="fa fa-star fa-inverse star"></i>
            </div>
            <h4>
                <%= scoresTop3[2].playerName %>
                <span class="label label-default bronze"><%= scoresTop3[2].score %></span>
            </h4>
        </div>

        <div class="col-xs-4 visible-xs text-center">
            <h4>
                <i class="fa fa-trophy fa-3x silver silver-text"></i><br />
                <%= scoresTop3[1].playerName %>
                <span class="label label-default silver"><%= scoresTop3[1].score %></span>
            </h4>
        </div>
        <div class="col-xs-4 visible-xs text-center">
            <h4>
                <i class="fa fa-trophy fa-3x gold gold-text"></i><br />
                <%= scoresTop3[0].playerName %>
                <span class="label label-default gold"><%= scoresTop3[0].score %></span>
            </h4>
        </div>
        <div class="col-xs-4 visible-xs text-center">
            <h4>
                <i class="fa fa-trophy fa-3x bronze bronze-text"></i><br />
                <%= scoresTop3[2].playerName %>
                <span class="label label-default bronze"><%= scoresTop3[2].score %></span>
            </h4>
        </div>
    </div>
</div>