<div class="container">
    <div class="row">
        <!--<div class="col-md-6 col-md-offset-3">-->
            <!--<div class="row">-->
                <!--<div class="col-md-4 text-center">-->
                    <!--<div class="trophy trophy-2x">-->
                        <!--<i class="fa fa-trophy fa-5x cup"></i>-->
                        <!--<i class="fa fa-star fa-lg fa-inverse star"></i>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-4 text-center">-->
                    <!--<div class="trophy trophy-3x">-->
                        <!--<i class="fa fa-trophy fa-5x cup"></i>-->
                        <!--<i class="fa fa-star fa-lg fa-inverse star"></i>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-md-4 text-center">-->
                    <!--<div class="trophy">-->
                        <!--<i class="fa fa-trophy fa-5x cup"></i>-->
                        <!--<i class="fa fa-star fa-lg fa-inverse star"></i>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">Arcade score table</div>
                <div class="panel-body">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th class="text-right">Time</th>
                                <th class="text-right">Score</th>
                                <th class="text-right">Played</th>
                            </tr>
                        </thead>
                        <tbody>
                        <% _.each(scores, function (score) { %>
                            <tr <%= score.position === 1 ? 'class=success' : '' %>>
                                <td> <%= score.position %></td>
                                <td><%= score.playerName %></td>
                                <td class="text-right"><%= score.time %> sec</td>
                                <td class="text-right"><strong><%= score.score %></td>
                                <td class="text-right"><%= moment(score.updatedAt).fromNow() %></td>
                            </tr>
                        <% }) %>
                        </tbody>
                    </table>
                    <%- partial('../partials/pagination') %>
                </div>
            </div>
        </div>
    </div>
</div>


